/**
 * Custom CSS for Asciidoctor / reveal.js back-end
 */

/* specific color for bold characters */
.reveal strong,
.reveal b {
  color: #FF6A00; }

.orange {
    color: #FF6A00;
}

/* we globally need a font a bit smaller */
.reveal {
  font-size: 38px;
}

/* and a title a bit smaller too */
.reveal section.title h1 {
  font-size: 2em;
}

